@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;700&display=swap");

$color-back-main: #2c3e50;
// $color-back-main: #101723;

$color-heading-1: #fdcb6e;
$color-heading-1-light: #ffeaa7;
$color-heading-2: #fab1a0;

$color-text-primary: #218c74;
$color-text-secondary: #706fd3;
$color-text-tertiary: #eee;

@mixin primary-heading {
  font-size: 2.8rem;
  font-weight: 400;
  color: $color-heading-2;
}

@mixin secondary-heading {
  font-size: 2rem;
  font-weight: 400;
  color: $color-heading-1;
}

@mixin tertiary-heading {
  font-size: 1.8rem;
  font-weight: 400;
  color: $color-text-secondary;
}

@mixin primary-text {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: $color-text-primary;
}

@mixin list-text {
  color: $color-text-tertiary;
  font-size: 1.4rem;
}
