@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;500&display=swap");

// $color-back-main: #2c3e50;
$color-back-main: #101723;

$color-white: #ffffff;

$color-heading-1: #fdcb6e;
$color-heading-1-light: #ffeaa7;
$color-heading-2: #fab1a0;

$color-text-primary: #218c74;
$color-text-secondary: #706fd3;
$color-text-tertiary: #eee;
$link-text-color: #0984e3;

$color-primary-light: #2998ff;
$color-primary-dark: #5643fa;
// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

@mixin primary-heading {
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  color: $color-white;
  // color: $color-heading-2;
}

@mixin secondary-heading {
  margin-bottom: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: $color-white;
}

@mixin tertiary-heading {
  margin-bottom: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: $color-white;
}

@mixin primary-text {
  font-size: 1.4rem;
  color: #eee;
  font-weight: 400;
}

@mixin list-text {
  color: rgba($color-white, 0.8);
  font-size: 1.4rem;
}

@mixin box-shadow {
  border-radius: 12px;
  background: linear-gradient(145deg, #0e1520, #111925);
  box-shadow: 5px 5px 9px #0c121b, -5px -5px 9px #141c2b;
}

@mixin linear-gradient {
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
