@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;700&display=swap");

$color-back-main: #2c3e50;

$color-heading-1: #fdcb6e;
$color-heading-1-light: #ffeaa7;
$color-heading-2: #fab1a0;

$color-text-primary: #218c74;
$color-text-secondary: #706fd3;
