@import "../styles/global.scss";

.notfound {
  @include primary-heading;

  &__text {
    @include primary-text;
    margin: 1.8rem 0;
  }

  &__link {
    font-size: 1.2rem;
    color: $link-text-color;
    transition: all 0.2s ease-in-out;
    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: 576px) {
  .notfound {
    font-size: 2.2rem;
    &__text {
      font-size: 1.2rem;
    }
  }
}
