@import "../styles/global.scss";

.notfound {
  @include primary-heading;

  &__text {
    @include primary-text;
    margin-bottom: 1rem;
  }

  &__link {
    font-size: 1.2rem;
    color: $color-heading-1-light;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $color-heading-1;
    }
  }
}
