@import "../styles/global.scss";

.main {
  &__heading {
    @include primary-heading;
  }
  &__text {
    @include primary-text;
  }
}

.education {
  margin-top: 1.5rem;
  &__heading {
    @include secondary-heading;
  }
}

.list {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  &__item {
    @include list-text;
  }
}

.skills {
  margin-top: 1.5rem;

  &__heading {
    margin-bottom: 1rem;
    @include secondary-heading;
  }
}

.heading {
  @include tertiary-heading;
}

.tech {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
// .backend {
//   margin: 0 3rem;
// }

.frontend,
.backend,
.general {
  width: 250px;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem 5rem 1.5rem 2rem;
  border-radius: 12px;
  background: linear-gradient(145deg, #283848, #2f4256);
  box-shadow: 5px 5px 9px #1e2a36, -5px -5px 9px #3a526a;

  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }
}

.language {
  margin-top: 1.5rem;

  &__heading {
    @include secondary-heading;
  }
}

@media (max-width: 576px) {
  .main {
    &__heading {
      font-size: 2.2rem;
    }
    &__text {
      font-size: 1.2rem;
    }
  }
  .education {
    &__heading {
      font-size: 1.8rem;
    }
  }
  .list {
    &__item {
      font-size: 1.2rem;
    }
  }

  .skills {
    &__heading {
      font-size: 1.8rem;
    }
  }
  .heading {
    font-size: 1.6rem;
  }

  .language {
    &__heading {
      font-size: 1.8rem;
    }
  }
}

// @media (max-width: 505px) {
//   .backend {
//     margin: 0;
//   }
// }
