@import "../styles/global.scss";

.contact {
  margin: 0 auto;
  &__heading {
    @include primary-heading;
  }
  &__text {
    margin-top: 1.8rem;
    @include primary-text;
  }
  &__link {
    color: $link-text-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.social {
  margin-top: 2.5rem;
  &__heading {
    @include secondary-heading;
  }
}
.list {
  margin-top: 1.8rem;
  list-style: none;
  display: flex;
  align-items: center;
  &__item {
    padding: 1rem;
    margin-right: 1rem;

    background-color: $link-text-color;
    color: $color-white;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover {
      background-color: rgba($link-text-color, 0.8);
    }
  }
  &__link {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: 576px) {
  .contact {
    &__heading {
      font-size: 2.2rem;
    }
    &__text {
      font-size: 1.2rem;
    }
  }
  .list {
    flex-wrap: wrap;
    &__item {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
}
