@import "../styles/global.scss";

.contact {
  margin: 0 auto;
  &__heading {
    @include primary-heading;
  }

  &__email {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 1.5rem 0;
    color: $color-text-secondary;
  }
}
.list {
  margin: 2rem 0;
  padding-left: 1.5rem;

  &__item {
    @include list-text;
  }
  &__link {
    color: inherit;
  }
}
