@import "../styles/global.scss";

.home {
  display: flex;
  margin-bottom: 0.8rem;
}

.img {
  min-width: 300px;
  height: auto;
  padding-right: 3rem;
}

.content {
  &__heading {
    @include primary-heading;
  }
  &__name {
    color: $color-heading-1-light;
  }
  &__name_1 {
    color: $color-text-secondary;
  }
  &__text {
    @include primary-text;
  }
  &__link {
    text-decoration: none;
    color: $color-text-tertiary;
    &:hover {
      border-bottom: 1px solid #eee;
    }
  }
}
