@import "../styles/global.scss";

.home {
  margin: 2rem 0;
}

.img {
  min-width: 220px;
  max-height: 220px;
  float: left;
  border-radius: 50%;
  overflow: hidden;

  margin-right: 3rem;
  margin-bottom: 1.5rem;
  box-shadow: 1px 1px 0px 8px rgb(209, 75, 93);
  // box-shadow: 3px 5px 10px 0px $color-back-main;
}

.content {
  &__heading {
    @include primary-heading;
    margin-bottom: 1.8rem;
  }

  &__name {
    color: #eee;
    font-weight: 700;
  }
  &__name_1 {
    color: #eee;
    font-weight: 700;
  }
  &__text {
    @include primary-text;
    margin-bottom: 0.8rem;
  }
  &__link {
    text-decoration: none;
    color: $link-text-color;
    border-bottom: 1px solid $link-text-color;
    &:hover {
      border-bottom: none;
    }
  }
}

@media (max-width: 576px) {
  .content {
    &__heading {
      font-size: 2.2rem;
    }
  }
}
