@import "../styles/global.scss";

.home {
  margin-bottom: 0.8rem;
}

.img {
  min-width: 280px;
  max-height: 280px;
  float: left;

  margin-right: 3rem;
  margin-bottom: 1.5rem;
  box-shadow: 3px 5px 10px 0px #101723;
}

.content {
  &__heading {
    @include primary-heading;
  }
  &__name {
    color: #eee;
    font-weight: 400;
  }
  &__name_1 {
    color: #eee;
    font-weight: 400;
  }
  &__text {
    @include primary-text;
  }
  &__link {
    text-decoration: none;
    color: $color-text-tertiary;
    &:hover {
      border-bottom: 1px solid #eee;
    }
  }
}

@media (max-width: 576px) {
  .content {
    &__heading {
      font-size: 2.2rem;
    }
    &__text {
      font-size: 1.2rem;
    }
  }
}
