@import "../styles/global.scss";

.projects {
  &__heading {
    @include primary-heading;
  }
  &__content {
    margin-top: 1.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .projects {
    &__heading {
      font-size: 2.2rem;
    }
  }
}
