@import "../styles/global.scss";

.header {
  min-height: 20vh;
  padding: 2.5rem 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  &__item {
    color: $color-heading-1;
    font-size: 3.5rem;
    font-family: "Kaushan Script", cursive;
    position: relative;
    display: flex;

    &_sub {
      font-size: 2rem;
      color: $color-heading-2;
      position: absolute;
      bottom: -1.8rem;
      left: 18rem;
      font-family: "Courier New", sans-serif;
    }
  }
}

.nav {
  &__list {
    list-style: none;
    text-transform: uppercase;
    display: flex;
  }

  //   &__item {
  //   }

  &__link {
    text-decoration: none;
    margin-right: 1rem;
    color: $color-heading-1-light;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $color-heading-1;
    }
    &:active {
      color: $color-text-primary;
    }
  }
}

@media (max-width: 576px) {
  .logo {
    &__item {
      font-size: 2.5rem;
      &_sub {
        font-size: 1.2rem;
        bottom: -0.8rem;
        left: 11.4rem;
      }
    }
  }
}

@media (max-width: 325px) {
  .logo {
    &__item {
      font-size: 2rem;
      &_sub {
        font-size: 1rem;
        bottom: -0.8rem;
        left: 10rem;
      }
    }
  }

  .nav {
    &__link {
      margin-right: 0.8rem;
      font-size: 0.8rem;
    }
  }
}
