@import "../styles/global.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-back-main;
  max-width: 70%;
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 576px) {
  body {
    max-width: 90%;
  }
}
