@import "../styles/global.scss";

.project {
  @include box-shadow;
  max-width: 350px;
  margin-right: 1rem;
  margin-bottom: 2rem;
  transition: transform 0.2s;
  position: relative;

  &__img {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      ),
      url(https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  }
  &__content {
    margin: 1rem 0;
    padding: 1rem;
  }
  &__title {
    @include tertiary-heading;
    // text-transform: uppercase;
    position: absolute;
    top: 8rem;
    right: 0.5rem;
    width: 55%;
    text-align: center;

    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.85),
      rgba($color-primary-dark, 0.85)
    );
  }

  &__tag {
    color: $link-text-color;
    margin-right: 1rem;
  }
  &__text {
    @include primary-text;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  &:hover {
    transform: translateY(-5px);
  }
}

.btngroup {
  margin: 1.5rem 0 1rem 0;
  display: flex;
  justify-content: space-between;

  &__btn {
    @include box-shadow;
    margin-right: 2rem;
    text-decoration: none;
    color: $color-white;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.2s;
    &:hover {
      color: $link-text-color;
    }
  }
}

@media (max-width: 576px) {
  .project {
    &__title {
      font-size: 1.6rem;
    }
    &__text {
      font-size: 1.2rem;
    }
  }

  .btngroup {
    &__btn {
      font-size: 0.9rem;
    }
  }
}
